<%- include('./partials/header') %>

<h2>Home Page</h2>

<% if (!user) { %>
	<p>please login to continue</p>
<% } %>


<img class="logo" src="../images/pushstartlogo.png" alt="">
<img class="backgroundimg" src="../lofiwireframe-browse-Small.jpeg" alt="">

<%- include('./partials/footer') %>
