<%- include('./partials/header') %>



<% if (!user) { %>
	<p></p>
<% } %>

<div class="logo-wrapper">
	<img class="logo" src="../images/pushstartlogo.png" alt="">
</div>

<%- include('./partials/footer') %>
