
body {
    background-image: url(https://www.motortrend.com/uploads/2022/03/2022-Honda-Civic-Touring-vs-2022-Hyundai-Elantra-Limited-vs-2022-Kia-Forte-GT-vs-2022-Mazda-Mazda3-Sedan-AWD-Turbo-vs-2022-Nissan-Sentra-SR-vs-2022-Volkswagen-Jetta-SEL-19.jpg);
    background-color: rgba(45, 64, 73, 0.9);
    background-size: cover;
    display: grid;
    grid-template-rows: .5fr 4fr;
    height: 100vh;
    font-family: 'Montserrat';
    color: white;
    background-blend-mode: multiply;
}

.logo-wrapper {
    grid-row: 2 / 3;
    /* add the display: so the items inside can be moved around; */
    display: flex;
    /* center the nav links */
    justify-content: center;
}

.logo {
    height: 70%;
    width: 70%;
    align-self: center;
    margin-top: -20px;
}

/* In order to adjust alignment of the nav links, i have to make adjustment to its parent (nav) */
nav {
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    /* max-height: ; */
}

a{
    font-size: 110%;
    margin: 1%;
    text-decoration: none;
    color: white;
}

a:hover {
    /* text-decoration: underline; */
    /* padding: 2px;
    border: 1.5px solid rgb(234, 222, 222); */
    color: rgb(234, 222, 222);
    border-radius: 10%;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 250ms ease-in-out;
    cursor: pointer;
    /* color: rgb(38, 204, 111); */
}